@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Source+Sans+Pro:300,400,700);
/*
* Copyright 2013, Nicole Dominguez
* Tools used: Skeleton, Github, Adobe Creative Cloud, Sublime Text 2
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  background: #2f2b3f;
  color: #e3e3e3; }

h1, h2, h3, h4, h5, h6 {
  color: #79b7b0;
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: -0.04em;
  font-weight: 300; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 115px;
  line-height: 60px;
  margin-bottom: 16px;
  text-indent: -9999px;
  background-image: url("../img/nicole-dominguez.png");
  background-repeat: no-repeat;
  width: 570px;
  height: 353px;
  padding-left: 25px;
  background-size: 93%;
  margin-bottom: 35px;
  margin-top: 50px;
  float: left; }

h2 {
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 10px; }
  h2 span {
    color: #c7bcd1;
    display: block;
    font-weight: 400;
    text-align: right; }

h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px; }

h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px; }

p {
  margin: 0 0 20px 0;
  font-family: 'Bitter', serif; }

p img {
  margin: 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold;
  color: #333; }

small {
  font-size: 80%; }

a:hover, a:focus {
  color: #000; }

ul, ol {
  margin-bottom: 20px; }

ul {
  list-style: none outside;
  padding: 25px;
  font-family: 'Bitter', serif;
  font-size: 24px; }

li {
  line-height: 36px;
  margin-bottom: 10px;
  color: #5c547c; }
  li a {
    text-decoration: none;
    color: #bbdbd7; }
    li a:hover {
      color: #8ac0ba; }

header ul {
  padding-top: 90px; }
  header ul li {
    font-size: 22px;
    text-align: right;
    color: #413d4f; }

footer {
  color: #211f2d; }

@media only screen and (min-width: 768px) and (max-width: 959px) {
  header ul {
    padding-top: 85px; }
    header ul li {
      font-size: 20px;
      line-height: 28px; }
  header h1 {
    background-size: 75%;
    margin-bottom: 0px;
    height: 310px; }
  header h2 {
    font-size: 30px; } }
@media only screen and (max-width: 767px) {
  header h1 {
    width: 100%;
    background-size: 90%;
    height: 220px;
    padding: 0;
    margin: 25px; }
  header ul {
    padding-top: 25px; }
    header ul li {
      font-size: 16px;
      line-height: 1.5em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container .nine.columns.alpha {
    width: 52% !important; }
  .container .seven.columns {
    width: 48% !important; }

  h2 {
    padding: 25px;
    margin-top: -5%;
    font-size: 28px; }

  footer {
    padding: 25px; }

  .twelve ul {
    margin-left: 10%; } }
@media only screen and (max-width: 479px) {
  header h1 {
    background-size: 100%;
    margin: 30px 0 0 0;
    padding: 0;
    height: 190px; }
  header ul {
    margin-bottom: 25px; }

  h2 {
    font-size: 30px;
    margin-top: -10%;
    padding: 25px 0;
    margin-bottom: 25px; }

  .twelve ul {
    padding: 0;
    margin: 0; }
    .twelve ul li {
      line-height: 1.4em;
      font-size: 19px; } }
